# OS
.DS_Store
Thumbs.db

# IDE
.vs/
.vscode/
.idea/

# .NET
**/bin/
**/obj/

# Logs
*.log
logs/
.runlogs/
src/.runlogs/

# Node
node_modules/
dist/

# Env
.env
.env.*
!.env.example

# Uploads
src/BarberOS.API/wwwroot/uploads/*
!src/BarberOS.API/wwwroot/uploads/.gitkeep

# Coverage
coverage/

# Test Results
TestResults/

# Rider
*.sln.iml

# EF
*.db
*.sqlite