# Maven
target/
**/target/

# Compilados Java
*.class

# NetBeans
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/
build/
!*/src/main/**/build/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode/

# Logs
*.log

# Archivos temporales
*.tmp
*.temp
*.swp
*.swo

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini